
@{
    ViewData["Title"] = "DangKy";
}

<form id="frmDangKy">
    <h2 class="text-center text-danger">
        Đăng ký Thành viên
    </h2>
    <div class="row m-1">
        <div class="col-4 col-md-3 text-right">Mã sinh viên</div>
        <div class="col-8 col-md-9">
            <input name="MaSV" placeholder="Mã sinh viên" class="w-100" />
        </div>
    </div>
    <div class="row m-1">
        <div class="col-4 col-md-3 text-right">Họ tên</div>
        <div class="col-8 col-md-9">
            <input name="HoTen" placeholder="Họ tên Sinh viên" class="w-100" />
        </div>
    </div>
    <div class="row m-1">
        <div class="col-4 col-md-3 text-right">Ngày sinh</div>
        <div class="col-8 col-md-9">
            <input name="NgaySinh" class="w-100" />
        </div>
    </div>

    <div class="row m-1">
        <div class="col-4 col-md-3 text-right">Điện thoại</div>
        <div class="col-8 col-md-9">
            <input name="SoDienThoai" placeholder="Điện thoại" class="w-100" />
        </div>
    </div>

    <div class="row m-1">
        <div class="col-4 col-md-3 text-right">Email</div>
        <div class="col-8 col-md-9">
            <input name="Email" placeholder="Email" class="w-100" />
        </div>
    </div>
    <div class="row m-1">
        <div class="col-4 col-md-3 text-right">Xác nhận email</div>
        <div class="col-8 col-md-9">
            <input name="XacNhanEmail" placeholder="Xác nhận email" class="w-100" />
        </div>
    </div>
    <div class="row m-1">
        <div class="col-4 col-md-3 text-right">Số tài khoản</div>
        <div class="col-8 col-md-9">
            <input name="SoTaiKhoan" placeholder="Số tài khoản" class="w-100" />
        </div>
    </div>
    <div class="row m-1">
        <div class="col-4 col-md-3 text-right">Hình</div>
        <div class="col-8 col-md-9">
            <input type="file" name="Hinh" />
        </div>
    </div>
    <div class="row m-1">
        <div class="col-4 col-md-3 text-right">Điểm</div>
        <div class="col-8 col-md-9">
            <input name="Diem" placeholder="Điểm" class="w-100" />
        </div>
    </div>
    <div class="row m-1">
        <div class="col-4 col-md-3 text-right">Hệ số</div>
        <div class="col-8 col-md-9">
            <input name="HeSo" placeholder="Hệ số" class="w-100" />
        </div>
    </div>
    <div class="row m-1">
        <div class="col-4 col-md-3 text-right">Mã bảo mật</div>
        <div class="col-8 col-md-9">
            @using Microsoft.AspNetCore.Http;
            <span id="spanMaBaoMat" class="text-danger font-weight-bold">@Context.Session.GetInt32("MaBaoMat")</span>
            <button type="button" class="btn btn-primary" id="TaoMaMoi">Tạo mã mới</button>
            <input name="MaBaoMat" placeholder="Mã bảo mật" class="w-100" />
        </div>
    </div>
    <div class="row m-1">
        <div class="col-4 col-md-3 text-right">Thông tin thêm</div>
        <div class="col-8 col-md-9">
            <textarea name="ThongTinThem" class="w-100"></textarea>
        </div>
    </div>
    <div class="row m-1">
        <div class="col-4 col-md-3 text-right"></div>
        <div class="col-8 col-md-9">
            <button class="btn btn-success">Đăng ký</button>
            <button class="btn btn-danger" type="reset">Nhập lại</button>
        </div>
    </div>
</form>

@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.js"></script>
    <script>
        //B1: Định nghĩa hàm kiểm tra
        function LaGmail(value, element) {
            let pattern = /^[a-z][0-9a-z]*(\.[0-9a-z]+)*@@gmail.com$/g;

            return this.optional(element) || pattern.test(value);
        }

        function LaDiDongVietNam(value, element) {
            // 09[012346789]..., 08[123456789], 07[0123456789]
            //(a|b|c)
            var pattern = /^(09[0-46-9][0-9]{7}|08[1-9][0-9]{7}|07[0-9]{8})$/g;

            return this.optional(element) || pattern.test(value);

            //var pattern1 = /^09[0-46-9][0-9]{7}$/g;
            //var pattern2 = /^08[1-9][0-9]{7}$/g;
            //var pattern3 = /^07[0-9]{8}$/g;
            //return this.optional(element) || pattern1.test(value) || pattern2.test(value) || pattern3.test(value);
        }

        //B2: Khai báo thuộc tính kiểm tra trong jQuery Validate
        $.validator.addMethod("didongvietnam", LaDiDongVietNam, "Không phải số di động Việt Nam");
        $.validator.addMethod("gmail", LaGmail, "Không đúng định dạng Gmail");


        $(document).ready(function () {

            $("#TaoMaMoi").click(function () {
                //gửi ajax lên server sinh mã mõa mới
                $.ajax({
                    url: "/Demo/SinhMaNgauNghien",
                    success: function (data) {
                        $("#spanMaBaoMat").html(data);
                    }
                });
            });

            $("#frmDangKy").validate({
                rules: {
                    SoDienThoai: {
                        didongvietnam: true
                    },
                    MaSV: {
                        required: true,
                        minlength: 6
                    },
                    HoTen: { required: true },
                    NgaySinh: { date: true },
                    Email: {
                        required: true,
                        gmail: true
                    },
                    XacNhanEmail: {
                        gmail: true,
                        equalTo: 'input[name="Email"]'
                    },
                    SoTaiKhoan: {
                        creditcard: true
                    },
                    Hinh: {
                        extension: "png|jpg|jpeg"
                    },
                    Diem: {
                        number: true,
                        range: [0, 10]
                    },
                    HeSo: {
                        digits: true,
                        min: 1
                    },
                    ThongTinThem: {
                        maxlength: 255
                    },
                    MaBaoMat: {
                        remote: "/Demo/KiemTraMaBaoMat"
                    }
                },
                messages: {
                    MaBaoMat: {
                        remote: "Chưa đúng"
                    },
                    Hinh: {
                        extension: "Chọn file hình png|jpg|jpeg"
                    }
                }
            });
        });
    </script>
}
