@{
    Layout = "_MyLayout";
}

@section css{
    <link href="~/lib/fontawesome-free-5.15.1-web/css/all.css" rel="stylesheet" />
    <link href="~/css/ProductGrid.css" rel="stylesheet" />
}

<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#">
                        <img class="pic-1" src="https://i.postimg.cc/pdvcSwBL/1.jpg">
                    </a>
                    <span class="product-discount-label">-20%</span>
                </div>
                <div class="product-content">
                    <h3 class="title">
                        <a href="#">Men's Blazer</a>
                    </h3>
                    <div class="price">
                        $16.00
                        <span>$20.00</span>
                    </div>
                </div>
                <ul class="social">
                    <li><a href="" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                    <li><a href="" data-tip="Wishlist"><i class="fa fa-heart"></i></a></li>
                    <li><a href="" data-tip="add to cart"><i class="fa fa-shopping-cart"></i></a></li>
                    <li><a href="" data-tip="Compare"><i class="fa fa-random"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#">
                        <img class="pic-1" src="https://i.postimg.cc/KzBzYgMN/2.jpg">
                    </a>
                </div>
                <div class="product-content">
                    <h3 class="title">
                        <a href="#">Women's Top</a>
                    </h3>
                    <div class="price">$17.50</div>
                </div>
                <ul class="social">
                    <li><a href="" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                    <li><a href="" data-tip="Wishlist"><i class="fa fa-heart"></i></a></li>
                    <li><a href="" data-tip="add to cart"><i class="fa fa-shopping-cart"></i></a></li>
                    <li><a href="" data-tip="Compare"><i class="fa fa-random"></i></a></li>
                </ul>
            </div>
        </div><div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#">
                        <img class="pic-1" src="https://i.postimg.cc/jjLVv0qn/3.jpg">
                    </a>
                </div>
                <div class="product-content">
                    <h3 class="title">
                        <a href="#">Women's Top</a>
                    </h3>
                    <div class="price">$17.50</div>
                </div>
                <ul class="social">
                    <li><a href="" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                    <li><a href="" data-tip="Wishlist"><i class="fa fa-heart"></i></a></li>
                    <li><a href="" data-tip="add to cart"><i class="fa fa-shopping-cart"></i></a></li>
                    <li><a href="" data-tip="Compare"><i class="fa fa-random"></i></a></li>
                </ul>
            </div>
        </div><div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#">
                        <img class="pic-1" src="https://i.postimg.cc/6qHysxRJ/4.jpg">
                    </a>
                </div>
                <div class="product-content">
                    <h3 class="title">
                        <a href="#">Women's Top</a>
                    </h3>
                    <div class="price">$17.50</div>
                </div>
                <ul class="social">
                    <li><a href="" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                    <li><a href="" data-tip="Wishlist"><i class="fa fa-heart"></i></a></li>
                    <li><a href="" data-tip="add to cart"><i class="fa fa-shopping-cart"></i></a></li>
                    <li><a href="" data-tip="Compare"><i class="fa fa-random"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
