
@{
    ViewData["Title"] = "LoadMore";
}

<h1>Load More</h1>
<div class="hide" id="TongSoTrang">@ViewBag.TongSoTrang</div>
<div id="KetQua" class="row"></div>
<div id="LoadMore" class="hide">Tải thêm</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            var currentPage = 1;
            var tongSoTrang = parseInt($("#TongSoTrang").html());
            function loadMore() {
                $.ajax({
                    url: "/Ajax/AjaxLoadMore",
                    method: "post",
                    data: {
                        page: currentPage
                    },
                    success: function (data) {
                        $("#KetQua").append(data);
                        if (currentPage < tongSoTrang) {
                            $("#LoadMore").show();
                        }
                        else {
                            $("#LoadMore").hide();
                        }

                        $(".mua-ngay").click(function (e) {
                            e.preventDefault();
                            $.ajax({
                                url: "/Ajax/AddToCart",
                                data: {
                                    id: $(this).data("mahh")
                                },
                                success: function (data) {
                                    console.log(data);
                                }
                            });
                        });
                    }
                });
            }
            $("#LoadMore").click(function () {
                if (currentPage < tongSoTrang) {
                    currentPage++;
                    loadMore();
                }
            });

            loadMore();//gọi lần đầu
        });
    </script>
}

