@model Day13_ADONET.Models.Loai

@{
    ViewData["Title"] = $"Sửa loại {Model.TenLoai}";
}

<h1>@ViewData["Title"]</h1>
<hr />
<div class="row">
    <div class="text-danger">@TempData["ThongBao"]</div>
    <div class="col-md-12">
        <form asp-action="Edit" enctype="multipart/form-data" asp-route-id="@Model.MaLoai">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaLoai" class="control-label"></label>
                <input asp-for="MaLoai" class="form-control disabled" />
                <span asp-validation-for="MaLoai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenLoai" class="control-label"></label>
                <input asp-for="TenLoai" class="form-control" />
                <span asp-validation-for="TenLoai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hinh" class="control-label"></label>
                <img src="~/Hinh/Loai/@Model.Hinh" /><br />
                <input name="HinhUpdate" type="file" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="MoTa" class="control-label"></label>
                <textarea asp-for="MoTa" class="form-control"></textarea>
                <span asp-validation-for="MoTa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
