.hh-name{
    position:absolute; left:0; top: -30px;
    color:blue;font-size:x-large;
    width:inherit;
}
.hh-price{
    position:absolute; left:5px; bottom:5px;
    font-size:large; color:green;
    font-weight:bold;/*độ đậm*/
}
.hh-cart{
    position:absolute; right:5px; bottom:5px;
    width:25px;
}

.hh-icon{
    width:75px; 
    position:absolute; top:0; right:0;
}

.hh-box{
    display:inline-block;
    margin: 35px 5px 5px 5px;
    position:relative;
    width:220px; height:300px;
    border:1px solid blue; text-align:center;
}
.hh-box:hover{
    border-radius:10px;
    box-shadow: 0 0 15px red;
}

.hh-image{ width:90%; height:90%; 
           margin-top:10px;}