<div class="card">
    <div class="card-body">
        <a href="" class="list-group-item">Ti vi</a>
        <a href="" class="list-group-item">Tủ lạnh</a>
        <a href="" class="list-group-item">Máy tính bảng</a>
    </div>
</div>