
@{
    ViewData["Title"] = "TimKiem";
}

<h1>Tìm Kiếm</h1>
<form asp-action="TimKiem">
    Tìm theo tên: <input name="TuKhoa" />
    Giá từ: <input name="GiaTu" type="number" />
    đến: <input name="GiaDen" type="number" />
    <button>Tìm</button>
</form>

